<select name="classification_id" id="classificationSelect" required>
  <option value="" hidden>Select a classification</option>
  <% classifications.forEach(classification => { %>
    <option value="<%= classification.classification_id %>" <%= locals.classification_id == classification.classification_id ? 'selected' : '' %>>
      <%= classification.classification_name %>
    </option>
  <% }); %>
</select>