<select name="classification_id" required>
  <option value="-1" hidden>Select a classification</option>
  <% classifications.forEach(classification => { %>
    <option value="<%= classification.classification_id %>" <%= classification_id == classification.classification_id ? 'selected' : '' %>>
      <%= classification.classification_name %>
    </option>
  <% }); %>
</select>