<header id="top-header" class="flex justify-between m-2">
  <span class="text-xl font-bold">
    <a href="/" title="Return to home page" media="screen">CSE Motors</a>
  </span>
  <div id="tools">
    <a href="/account/login" title="Click to log in" media="screen">My Account</a>
  </div>
</header>