<header id="top-header" class="flex justify-between m-2">
  <span class="text-xl font-bold">
    <a href="/" class="no-underline" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <a href="/account/login" class="no-underline" title="Click to log in">My Account</a>
  </div>
</header>